{% extends "user_base.html" %}

{% block content %}
{% load static %}
<style>
    .new-arrivals-section {
        padding: 40px 0; /* Adjust padding as needed */
    }
    
    .container {
        max-width: 1200px; /* Adjust the maximum width as needed */
        margin: 0 auto;
    }
    
    .section-title {
        text-align: center;
        margin-bottom: 20px;
    }
    
   
    
    .product-grid {
        display: flex;
        
      
        gap: 20px; /* Adjust the gap between cards */
    }
    
    .product-card {
        flex: 0 0 calc(25% - 20px); /* 25% width with a 20px gap between cards */
        scroll-snap-align: start;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .product-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .product-img-wrap {
        position: relative;
    }
    
    .product-img {
        width: 100%;
        height: auto;
    }
    
    .product-badges {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .product-details {
        padding: 15px;
    }
    
    .product-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .rating-result {
        /* Add styles for the rating representation */
    }
    
    .product-price {
        font-weight: bold;
        font-size: 18px;
    }
    
    .old-price {
        text-decoration: line-through;
        margin-left: 10px;
        color: #999; /* Adjust color as needed */
    }
    
    
</style>
<main class="main">       
    <section class="home-slider position-relative pt-50">
        <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Trade-in offer</h4>
                                <h2 class="animated fw-900">Supper value deals</h2>
                                <h1 class="animated fw-900 text-brand">On all products</h1>
                                <p class="animated">Save more with coupons & up to 70% off</p>
                                <a class="animated btn btn-brush btn-brush-3" href="{% url 'shop_lists' %}"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-4">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="{% static 'user/assets/imgs/my images/img_bg_1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Hot promotions</h4>
                                <h2 class="animated fw-900">Fashion Trending</h2>
                                <h1 class="animated fw-900 text-7">Great Collection</h1>
                                <p class="animated">Save more with coupons & up to 20% off</p>
                                <a class="animated btn btn-brush btn-brush-2" href="{% url 'shop_lists' %}">Discover Now</a>

                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-2" src="{% static 'user/assets/imgs/my images/img_bg_3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Upcoming Offer</h4>
                                <h2 class="animated fw-900">Big Deals From</h2>
                                <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                <p class="animated">Clothing, Shoes, Bags, Wallets...</p>
                                <a class="animated btn btn-brush btn-brush-1" href="{% url 'shop_lists' %}"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-3" src="{% static 'user/assets/imgs/my images/img_bg_2.jpg' %}" alt="">
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
    </section>
    
    <section class="featured section-padding position-relative">            
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-1.png'%}" alt="">
                        <h4 class="bg-1">Free Shipping</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-2.png'%}" alt="">
                        <h4 class="bg-3">Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-3.png'%}" alt="">
                        <h4 class="bg-2">Save Money</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-4.png'%}" alt="">
                        <h4 class="bg-4">Promotions</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-5.png'%}" alt="">
                        <h4 class="bg-5">Happy Sell</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{% static 'user/assets/imgs/theme/icons/feature-6.png'%}" alt="">
                        <h4 class="bg-6">24/7 Support</h4>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
            <div class="tab-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                    </li>
                </ul>
                <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    


                                
      
        
                    <div class="row product-grid-4">
                       
    {% for product in products %}
        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="{% url 'product_detials' product.id %}">
                            <img class="default-img" src="{{ product.product_img1.url }}" alt="notfound" style="height: 250px; object-fit: cover;">
                            <img class="hover-img" src="{{ product.product_img1.url }}" alt="not found" style="height: 250px; object-fit: cover;">
                        </a>
                    </div>
                    <div class="product-action-1">
                        <!-- Include any product actions if needed -->
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">Hot</span>
                    </div>
                </div>
                <div class="product-content-wrap">
                    <div class="product-category">
                        <a href="shop-grid-right.html"></a>
                    </div>
                    <h2><a href="shop-product-right.html">{{ product.product_name }}</a></h2>
                    <div class="rating-result" title="90%">
                        {% with best_offer=product.get_best_offer %}
                            {% if best_offer %}
                                <span>{{ best_offer.percentage }}% Off</span>
                            {% else %}
                                <span>No Offer</span>
                            {% endif %}
                        {% endwith %}
                    </div>

                    <div class="product-price">
                        {% with best_offer=product.get_best_offer %}
                            {% if best_offer %}
                                <p>Discounted Price: ₹{{ product.offer_price }}</p>
                            {% else %}
                                <p>Offer Price: ₹{{ product.offer_price }}</p>
                            {% endif %}
                        {% endwith %}
                        <span class="old-price">₹{{ product.original_price }}</span>
                    </div>
                    <div class="product-action-1 show">
                        <a aria-label="Add To Wishlist" class="action-btn hover-up btn btn-outline-danger btn-sm" href="{% url 'add_wishlist' product_id=product.id %}">
                            <i class="fi-rs-heart"></i> Add to Wishlist
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

                <!--En tab one (Featured)-->
                
            <!--End tab-content-->
        </div>
        {% for banner in banners %}
        {% if banner.subtitle == "banner.1" %}
            <section class="banner-2 section-padding">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner-img banner-big wow fadeIn animated">
                                <img src="{{ banner.banner_img.url }}" alt="{{ banner.title }}" class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="banner-text text-md-left text-center">
                                <h4 class="mb-3 mt-4 text-uppercase font-weight-bold"></h4>
                            <h1 class="fw-700 mb-2 display-4">{{ banner.title }}</h1>
                                
                                <a href="{% url 'shop_lists' %}" class="btn btn-primary btn-lg">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    <section class="banners mb-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'user/assets/imgs/banner/banner-1.png'%}" alt="">
                        <div class="banner-text">
                            <span>Smart Offer</span>
                            <h4>Save 20% on <br>Woman Bag</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'user/assets/imgs/banner/banner-2.png'%}" alt="">
                        <div class="banner-text">
                            <span>Sale off</span>
                            <h4>Great Summer <br>Collection</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img wow fadeIn animated  mb-sm-0">
                        <img src="{% static 'user/assets/imgs/banner/banner-3.png'%}" alt="">
                        <div class="banner-text">
                            <span>New Arrivals</span>
                            <h4>Shop Today’s <br>Deals & Offers</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


   
    <section class="new-arrivals-section">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="product-grid-container">
                <div class="product-grid" id="product-grid">
                    {% for product in products %}
                    <div class="product-card">
                        <div class="product-img-wrap">
                            <a href="{% url 'product_detials' product.id %}">
                                <img class="product-img" src="{{ product.product_img1.url }}" alt="{{ product.product_name }}" style="height: 200px; object-fit: cover;">
                            </a>
                            <div class="product-badges">
                                <span class="badge new">New</span>
                            </div>
                        </div>
                        <div class="product-details">
                            <h2 class="product-title"><a href="{% url 'product_detials' product.id %}">{{ product.product_name }}</a></h2>
                            <div class="rating-result" title="{{ product.rating_percent }}">
                                <!-- Add your rating representation here -->
                            </div>
                            <div class="product-price">
                                <span class="offer-price">₹{{ product.offer_price }}</span>
                                <span class="old-price">₹{{ product.original_price }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="slider-arrow product-slider-arrow"> <!-- Add a class specific to product slider arrow -->
                    <!-- Add your arrow icon or text here -->
                </div>
            </div>
        </div>
    </section>
   
    
    
    <section class="section-padding">
        <div class="container">
            {% if brands %}
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        {% for brand in brands %}
                            {% if brand.is_active %}
                                <div class="brand-logo">
                                    <img class="img-grey-hover" src="{{ brand.brand_image.url }}" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No featured brands available.</p>
            {% endif %}
        </div>
    </section>
    
    
    <section class="bg-light section-padding">
        <div class="container pt-5 pb-5">
            <div class="row">
                <!-- Banner Section -->
                <div class="col-lg-3 d-none d-lg-flex">
                    <div class="banner-img style-2 wow fadeIn animated">
                        <img src="{% static 'user/assets/imgs/banner/banner-9.jpg'%}" alt="Woman Area">
                        <div class="banner-text">
                            <span>Woman Area</span>
                            <h4 class="mt-5">Save 17% on <br>Clothing</h4>
                            <a href="shop-grid-right.html" class="text-white btn btn-primary">
                                Shop Now <i class="fi-rs-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
    
                <!-- Product Section -->
                <div class="col-lg-9 col-md-12">
                    <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="row">
                                
                                            <div class="col-12">
                                                <div class="row related-products">
                                                    {% for product in monthly_best_sellers %}
                                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                                        <div class="card h-100">
                                                            <img class="card-img-top img-fluid" src="{{ product.product_img1.url }}" alt="{{ product.product_name }}" style="height: 200px; object-fit: cover;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">{{ product.product_name }}</h5>
                                                                <p class="card-text">{{ product.category }}</p>
                                                                <p class="card-text rating-result" title="{{ product.rating_percentage }}">
                                                                    <span>{{ product.rating_percentage }}</span>
                                                                </p>
                                                                <p class="card-text product-price">
                                                                    <span>₹{{ product.offer_price }}</span>
                                                                    {% if product.orginal_price %}
                                                                        <span class="orginal_price">₹{{ product.orginal_price }}</span>
                                                                    {% endif %}
                                                                </p>
                                                                <a href="{% url 'add_wishlist' product.id %}" class="btn btn-outline-danger btn-sm">
                                                                    <i class="fi-rs-heart"></i> Add to Wishlist
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                  

    
    <section class="section-padding">
        <div class="container pt-25 pb-20">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="section-title mb-20"><span>From</span> blog</h3>
                    <div class="post-list mb-4 mb-lg-0">
                        <article class="wow fadeIn animated">
                            <div class="d-md-flex d-block">
                                <div class="post-thumb d-flex mr-15">
                                    <a class="color-white" href="blog-post-fullwidth.html">
                                        <img src="{% static 'user/assets/imgs/blog/blog-2.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta mb-10 mt-10">
                                        <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Fashion</span></a>
                                    </div>
                                    <h4 class="post-title mb-25 text-limit-2-row">
                                        <a href="blog-post-fullwidth.html">Qualcomm is developing a Nintendo Switch-like console, report says</a>
                                    </h4>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">14 April 2021</span>
                                            <span class="hit-count has-dot">12M Views</span>
                                        </div>
                                        <a href="blog-post-right.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="wow fadeIn animated">
                            <div class="d-md-flex d-block">
                                <div class="post-thumb d-flex mr-15">
                                    <a class="color-white" href="blog-post-fullwidth.html">
                                        <img src="{% static 'user/assets/imgs/blog/blog-1.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta mb-10 mt-10">
                                        <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span class="post-in font-x-small">Healthy</span></a>
                                    </div>
                                    <h4 class="post-title mb-25 text-limit-2-row">
                                        <a href="blog-post-fullwidth.html">Not even the coronavirus can derail 5G's global momentum</a>
                                    </h4>
                                    <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on">14 April 2021</span>
                                            <span class="hit-count has-dot">12M Views</span>
                                        </div>
                                        <a href="blog-post-right.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner-img banner-1 wow fadeIn animated">
                                <img src="{% static 'user/assets/imgs/banner/banner-5.jpg'%}" alt="">
                                <div class="banner-text">
                                    <span>Accessories</span>
                                    <h4>Save 17% on <br>Autumn Hat</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-img mb-15 wow fadeIn animated">
                                <img src="{% static 'user/assets/imgs/banner/banner-6.jpg'%}" alt="">
                                <div class="banner-text">
                                    <span>Big Offer</span>
                                    <h4>Save 20% on <br>Women's socks</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="banner-img banner-2 wow fadeIn animated">
                                <img src="{% static 'user/assets/imgs/banner/banner-7.jpg'%}" alt="">
                                <div class="banner-text">
                                    <span>Smart Offer</span>
                                    <h4>Save 20% on <br>Eardrop</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for banner in banners %}
    {% if banner.subtitle == "banner2" and banner.is_active %}
        <section class="mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-bg wow fadeIn animated" style="background-image: url({{ banner.banner_img.url }})">
                            <div class="banner-content">
                                <h5 class="text-grey-4 mb-15">{{ banner.subtitle }}</h5>
                                <h2 class="fw-600">{{ banner.title }}</h2>
                                <div class="countdown-boxes">
                                    <div class="countdown-box">
                                        <span id="days_{{ banner.id }}" class="countdown-digit"></span>
                                        <span class="countdown-label"></span>
                                    </div>
                                    <div class="countdown-box">
                                        <span id="hours_{{ banner.id }}" class="countdown-digit"></span>
                                        <span class="countdown-label"></span>
                                    </div>
                                    <div class="countdown-box">
                                        <span id="minutes_{{ banner.id }}" class="countdown-digit"></span>
                                        <span class="countdown-label"></span>
                                    </div>
                                    <div class="countdown-box">
                                        <span id="seconds_{{ banner.id }}" class="countdown-digit"></span>
                                        <span class="countdown-label"></span>
                                    </div>
                                </div>
                                <a href="{% url 'shop_lists' %}" class="btn btn-outline-white">
                                    <span>SHOP NOW</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </section>
        


    <section class="mb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                        <img src="{% static 'user/assets/imgs/banner/banner-10.jpg'%}" alt="">
                        <div class="banner-text">
                            <span>Shoes Zone</span>
                            <h4>Save 17% on <br>All Items</h4>
                            <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Deals & Outlet</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-3.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Fish Print Patched T-shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-4.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Vintage Floral Print Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-5.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Multi-color Stripe Circle Print T-Shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-6.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Geometric Printed Long Sleeve Blosue</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-7.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Print Patchwork Maxi Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-8.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Daisy Floral Print Straps Jumpsuit</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="section-title style-1 mb-30 wow fadeIn animated">Hot Releases</h4>
                    <div class="product-list-small wow fadeIn animated">
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-9.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Floral Print Casual Cotton Dress</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-1.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Ruffled Solid Long Sleeve Blouse</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                        <article class="row align-items-center">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="{% static 'user/assets/imgs/shop/thumbnail-2.jpg'%}" alt=""></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h4 class="title-small">
                                    <a href="shop-product-right.html">Multi-color Print V-neck T-Shirt</a>
                                </h4>
                                <div class="product-price">
                                    <span>$238.85 </span>
                                    <span class="old-price">$245.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}